* -text
*.sh       text eol=lf
*.yml      text eol=lf
*.fragment text eol=lf
*.dts      text eol=lf
*.dts[io]  text eol=lf

*.patch whitespace=-indent-with-non-tab,-space-before-tab,-tab-in-indent,-trailing-space
