# QCA NSS stack kernel options (same as immortalwrt qualcommax 6.12)
CONFIG_SKB_RECYCLER=y
CONFIG_SKB_RECYCLER_MULTI_CPU=y
# CONFIG_SKB_RECYCLER_PREALLOC is not set
CONFIG_SKB_RECYCLE_SIZE=2304
# CONFIG_ALLOC_SKB_PAGE_FRAG_DISABLE is not set
